.bgquanlyphong{
	-fx-background-image:url("bg2.jpg");
}
#bt1 {
	-fx-background-color: #3366FF;
	-fx-text-fill: black;
}

#bt2 {
	-fx-background-color: #26ff00;
	-fx-text-fill: black;

}

#bt3 {
	-fx-background-color: #888888 ;
	-fx-text-fill: black;

}

#bt4 {
	-fx-background-color: #ff0000 ;
	-fx-text-fill: black;

}

#bt5 {
	-fx-background-color: #FFFFFF ;
	-fx-text-fill: black;

}

#bt6 {
	-fx-background-color: #FFFF66 ;
	-fx-text-fill: black;

}

#bt7 {
	-fx-background-color: #FF9933 ;
	-fx-text-fill: black;

}

